/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* layout */
body {
  color: aliceblue;
  background-color: rgb(40, 39, 42);
  min-height: 100vh;
  font-family: 'Fira Code', monospace, sans-serif;
}
.container {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
/* big retro text */
h1 {
  font-size: 32px;
  padding: 10px 0;
  line-height: 50px;
  letter-spacing: 2px;
}
h1,
.play a {
  font-family: 'Press Start 2P', sans-serif;
  color: rgb(123, 71, 255);
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgb(145, 255, 86), 0 2px 0 rgb(145, 255, 86),
    0 3px 0 rgb(145, 255, 86), 0 4px 0 rgb(255, 210, 86),
    0 5px 0 rgb(255, 210, 86), 0 6px 0 rgb(255, 210, 86);
}
.play a:hover {
  color: rgb(145, 255, 86);
  text-shadow: 0 1px 0 rgb(123, 71, 255), 0 2px 0 rgb(123, 71, 255),
    0 3px 0 rgb(123, 71, 255), 0 4px 0 rgb(123, 71, 255),
    0 5px 0 rgb(123, 71, 255), 0 6px 0 rgb(123, 71, 255);
}
/* grid background */
.background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(123, 71, 255);
}
.background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../images/batthern.png);
  opacity: 0.25;
}
/* rule section styles */
.rules {
  font-weight: bold;
  letter-spacing: 5px;
}
.rules,
.des-txt strong {
  color: rgb(145, 255, 86);
  text-transform: uppercase;
}
.des-txt b {
  color: rgb(123, 71, 255);
}
/* general styles */
.des-txt {
  font-family: monospace;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  padding: 15px;
}
.term,
.des-txt {
  border: 2px solid rgb(123, 71, 255);
}
/* buttons */
.home-play-btn {
  width: 450px;
}
#restart-btn,
#home-btn,
#start-game-btn,
#play-btn {
  display: block;
  min-width: 150px;
  padding: 10px 0 16px 0;
  background-color: rgb(56, 56, 56);
  border: 2px solid rgb(146, 105, 249);
  cursor: pointer;
}
#restart-btn:hover,
#home-btn:hover,
#start-game-btn:hover,
#play-btn:hover {
  background-color: rgb(17, 17, 17);
  border-color: rgb(145, 255, 86);
}
#restart-btn {
  margin-top: 15px;
}
/* responsive design */
@media only screen and (max-width: 500px) {
  .home-play-btn,
  .des-txt {
    max-width: 370px;
  }
}
