#terminal {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 446px;
  height: 300px;
  margin: 0 auto;

  background: #d7d7d7;
  font-family: 'Fira Code', monospace, sans-serif;
}
#window {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 426px;
  height: 280px;
  padding: 10px 20px;
  background: #464646;
  font-size: 15px;
  color: rgb(145, 255, 86);
}
#game-display {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 385px;
}
#game-display p {
  padding: 15px 0 0 0;
}
.statistics {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  width: 385px;
  height: 110px;
  border: 2px solid rgb(145, 255, 86);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.result {
  margin-left: 13px;
}

.cursor1,
.cursor2 {
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#game-btns {
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.btn-img {
  height: 50px;
  padding: 7px;
}

.box4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

svg {
  fill: rgb(146, 105, 249);
  width: 60px;
  padding: 15px;
}
svg:hover {
  fill: rgb(145, 255, 86);
}

button:hover {
  background-color: rgb(17, 17, 17);
  border-color: rgb(145, 255, 86);
}

#rock,
#paper,
#scissors {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-container p {
  padding: 0 0 10px 0;
}
.main-container {
  display: flex;
}
.hidden {
  display: none;
}
button {
  background-color: rgb(56, 56, 56);
  background-color: rgb(56, 56, 56);
  border: 2px solid rgb(146, 105, 249);
  cursor: pointer;
}
.inline {
  display: inline;
}
#re-head {
  margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {
  #terminal {
    width: 366px;
  }
  #window {
    width: 346px;
    font-size: 12px;
  }
  #game-display {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 346px;
  }
  #game-display p {
    padding: 15px 0 0 0;
  }
  .statistics {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 300px;
    height: 110px;
  }
  .result {
    width: 275px;
  }
}
